body{
	text-align: center;
	font-size: 30px;
	background: linear-gradient(to right, pink, purple, blue);
	background-color: purple;
}


.Low {
  color: green;
}

.Medium {
  color: black;
}

.High {
  color: red;
}
